name: Generate & Publish SDKs

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  speakeasy:
    name: Speakeasy SDK Generation & Publishing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.SDK_DEPLOY_GIT_TOKEN }}

      - name: Generate & Publish SDKs
        uses: speakeasy-api/sdk-generation-action@v15
        with:
          speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
          github_access_token: ${{ secrets.SDK_DEPLOY_GIT_TOKEN }}
          mode: pr
          force: true
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
