name: Generate flexprice-typescript
permissions:
  checks: write
  contents: write
  pull-requests: write
  statuses: write
  id-token: write

"on":
  workflow_dispatch:
    inputs:
      force:
        description: Force generation of SDKs
        type: boolean
        default: false
  push:
    branches:
      - develop
    paths:
      - docs/swagger/**
      - .speakeasy/workflow.yaml
      - .speakeasy/gen.yaml

jobs:
  generate:
    uses: speakeasy-api/sdk-generation-action/.github/workflows/workflow-executor.yaml@v15
    with:
      speakeasy_version: latest
      force: ${{ github.event.inputs.force }}
      mode: direct
      target: flexprice-typescript
      create_release: true
    secrets:
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
      npm_token: ${{ secrets.NPM_TOKEN }}

